# === DATABASE ===
MONGOSTRING=

# === SERVER ===
PORT=8080
IP=

# === JWT ===
JWT_SECRET=

# === WHATSAUTH ===
WAQRKEYWORD=
WEBHOOKURL=
WEBHOOKSECRET=
WAPHONENUMBER=

# === AUTH ===
PUBLICKEY=

# === INTERNAL ===
INTERNALHOST=
URLAPIWABUTTON=
